@using MicroBlazor.Inspire.Models
@using MicroBlazor.Inspire.Services

@inherits MicroBlazor.Core.FrontEndComponent

<h3>Related Products</h3>
@foreach (var product in Products)
{
    <div class="row">
        <div class="col-12">
            <img style="width: 70%; margin-left: auto; margin-right: auto; display: block;" src="@product.ProductImage"/>
        </div>
    </div>
}

@code {

    [Inject]
    public IRelatedProducts RelatedProductService { get; set; }

    protected List<RelatedProduct> Products { get; set; }

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        this.Products = await this.RelatedProductService.LoadRelatedProducts().ConfigureAwait(
            false);
    }

}